@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

.progress{
  background: linear-gradient(90deg, grey 0%, rgb(255, 194, 13) 100%);
  background-size: 300vw;
  background-position: -200vw;
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 1em;
  overflow: hidden;
}

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

h1{
  color: #006230;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

h2{
  color: #006230;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

h3{
  color: #353535;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

p {
  color: #353535;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: regular;
}

#banner-img-header {
  padding: 0 0;
  margin: 0 0;
}

h1, article {
  padding: 1rem;
  margin: 1rem;
}

button {
  background-color: #006230;
  color: white;
  border-color: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1em;
  height: 3rem;
  width: 10rem;
  margin: 1rem 0;
}